@media only screen and (max-width: 768px) {
.form-inline {
  flex-flow: column;
}
.find-car .form-group {
    width: 100%;
    margin-right: 0;
}
.budget_brand img {
    width: 50% !important;
}
.budget_brand .km_text{
  position: static;
  margin: auto;
}
.text_body_top {
    flex-flow: column;
}
footer {
    background-attachment: fixed;
}
footer .row{
    flex-flow: column;
}
.header-top p {
  display: block;
}
.latest_collection_area img, .featured img,.l_blog_item .blog_img img {
    width: 100%;
    height: auto;
}
footer .col {
    flex-basis: unset;
  }
  footer  .pay{
    text-align: center;
  }
footer  .pay p{
    margin-bottom: 15px;
  }
footer  .nav{
  display: flex;
justify-content: center;
margin-top: 15px;
  }
  .copyright_inner{
    flex-flow: column;
  }
  .clients .slick-next {
    right: 0;
}
.clients .slick-prev {
    left: 0;
}
.navbar-toggler {
    background-color: #a22d1c;
    border-radius: 3px;
    margin: 15px 35px;
}
.navbar-toggler i{
  color: #fff;
}
.fixed {
    position:;
}
.fixed .navbar-brand {
    margin-top: 0px;
    margin-bottom: 0px;
    position: static;
}
nav .navbar-brand {
box-shadow: none;
margin-top: 0px;
margin-bottom: 0px;
position: static;
    display: none;
}
.brand-responsive{
  display: block !important;
}
nav ul > span{
  display: none;
}
.people_img img{
  width: 100%;
}
.reset-pass {
    float: none;
    color: #ffc107;
    width: 100%;
    display: block;
    margin-top: 10px;
    text-align: center;
}
.product_details_left .product_info {
    flex-flow: column;
}
.product_details_left .product_info a{
  display: block;
  margin-bottom: 5px;
  margin-right: 0;
}
.product_d_slider .product_nav_slider {
    margin-bottom: 20px;
}
.main_product_area img{
  width: 100%;
}
.counter_person img{
  width: 100%;
}
.lr-content form {
    width: 90%;
  }
  .product_d_slider .slick-slide img {
    width: 100%;
}
}
