@font-face {
    font-family: 'cairo-black';
    src: url('../../../../fonts/cairo/cairo-black.ttf') format('truetype');
}

@font-face {
    font-family: 'cairo-bold';
    src: url('../../../../fonts/cairo/cairo-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'cairo-extralight';
    src: url('../../../../fonts/cairo/cairo-extralight.ttf') format('truetype');
}

@font-face {
    font-family: 'cairo-light';
    src: url('../../../../fonts/cairo/cairo-light.ttf') format('truetype');
}

@font-face {
    font-family: 'cairo-regular';
    src: url('../../../../fonts/cairo/cairo-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cairo-semibold';
    src: url('../../../../fonts/Cairo/cairo-semibold.ttf') format('truetype');
}

html, body, h1, h2, h3, h4, h5, table, p, button, a {
    font-family: cairo-semibold !important;
}

.hide {
    display: none;
}

body {
    font-size: 14px;
    padding: 0 !important;
}

.dataTables_wrapper.form-inline {
    display: block !important;
}

.card label {
    font-size: 14px !important;
}

.dataTables_length label, .dataTables_filter label {
    display: contents !important;
}

.dataTables_filter label .input-sm {
    font-size: 14px;
}

.dataTables_length .input-sm {
    height: 30px !important;
    font-weight: bold;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    font-size: 14px;
}

.pagination {
    display: inline-block !important;
}

.dt-button {
    font-family: Tahoma;
}


.lodding-page {
    text-align: center;
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Fallback color */
    z-index: 30000;
}

    .lodding-page i {
        margin-top: 250px;
        font-size: 100px;
        color: red;
    }

    .lodding-page img {
        margin: auto;
        text-align: center;
        display: inline-block;
        position: absolute;
        left: 40%;
        top: 35%;
        width: 20%;
        object-fit: contain;
    }


.load-page {
    text-align: center;
    position: absolute;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255,255,255,0.5); /* Fallback color */
    z-index: 30000;
}


    .load-page img {
        margin: auto;
        text-align: center;
        display: inline-block;
        position: absolute;
        left: 36%;
        top: 25%;
        width: 25%;
        object-fit: contain;
    }



input, button, a, select, textarea {
    font-size: 14px !important;
}

.disabled {
    background: #dddddd !important;
    pointer-events: none !important;
}


select {
    height: 40px !important;
}

.imgUpload {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
    object-fit: contain;
    background: #f4f4f4;
}

#content {
    max-width: inherit !important;
}


@media (min-width: 600px) {
    #content {
        width: 85% !important;
    }
}

.guillotine-window {
    padding-top: 0px !important;
}

.dataTable, .dataTable tbody td, .dataTable thead tr th, .dataTable tfoot tr th,
.table-paging, .table-paging tbody td, .table-paging thead tr th, .table-paging tfoot tr th,
.checkout, .checkout tbody td, .checkout thead tr th, .checkout tfoot tr th {
    text-align: center !important;
}


.sidebar .nav li .nav-link p, body > .navbar-collapse .nav li .nav-link p {
    font-size: 14px !important;
}

.mrg-r-10 {
    margin-right: 10px;
}

.mrg-t-10 {
    margin-top: 10px;
}

.center {
    text-align: center;
}

/*.modal.fade{
    top:auto !important;
}*/

.coverUpload {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
    height: 180px;
    object-fit: contain;
    background: #f4f4f4;
}

textarea {
    height: 110px !important;
}

.success {
    /*background-color: #28a745;*/
    color: #28a745;
}

.danger {
    /*background-color: #d9534f;*/
    color: #d43f3a;
}

.demoPanel {
    text-align: center !important;
}

.fa-2 {
    font-size: 2em;
}

.fa-3 {
    font-size: 4em;
}

.fa-4 {
    font-size: 7em;
}

.fa-5 {
    font-size: 12em;
}

.fa-5 {
    font-size: 20em;
}

.yearpicker-prev, .yearpicker-next {
    font-size: 2.5rem !important;
}

.yearpicker-items, .yearpicker-current {
    font-size: 15px !important;
}

.yearpicker-items, .yearpicker-current {
    color: #333 !important;
}

    .yearpicker-items.selected, .yearpicker-items:hover {
        color: red !important;
    }

.form-check .form-check-sign::before, .form-check .form-check-sign::after {
    margin-top: 1px;
}

.clickable {
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.tbl-center, .tbl-center thead tr th {
    text-align: center !important;
}

.form-control {
    padding: 0px 12px !important;
}

.select-mania-group-text, .select-mania-item-text {
    font-size: 14px !important;
}


.panel-title {
    cursor: pointer;
}


.btn-primary {
    border-color: #3472F7 !important;
    color: #fff !important;
}

.btn-file {
    width: 100% !important;
    height: 40px !important;
    text-align: center !important;
}

.file-caption-main {
    width: 95% !important;
}


.img-upload-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    /*padding: 12px 24px;*/
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

    .img-upload-btn:hover {
        background-color: black;
    }

.btn-upload {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


ul.media-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.media-list li {
    float: left;
    border: 1px solid #ccc;
    background: #ccc;
    position: relative;
    margin: 5px !important;
    width: 102px;
}

.media-list li {
    height: 102px;
}

    .media-list li:last-child {
        margin-right: 0;
    }

    .media-list li img {
        height: inherit !important;
        width: inherit !important;
    }

li.myupload span input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

li.myupload span {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    background: #fff;
}

    li.myupload span i {
        position: absolute;
        top: 50%;
        left: 71%;
        transform: translate(-50%, -50%);
        color: #ccc;
        font-size: 54px;
    }


.btn-primary.btn-fill {
    color: #fff !important;
}

.toggle.btn {
    width: 85px !important;
    height: 40px !important;
    min-width: 50px !important;
    max-width: 100px !important;
    min-height: 20px !important;
    max-height: 50px !important;
}

.pd-t-30 {
    padding-top: 30px !important;
}


.img-preview {
    height: 350px;
    width: 650px;
    margin-left: 6%;
}

.dd-container, .dd-select {
    width: 100% !important;
}

.dd-select, .dd-option-selected {
    height: 40px !important;
}

.dd-selected-text {
    line-height: 0 !important;
}



.dataTable thead, .dataTable thead th, .dataTable tfoot, .dataTable tfoot th,
.table-paging thead, .table-paging thead th, .table-paging tfoot, .table-paging tfoot th,
.checkout thead, .checkout thead th, .checkout tfoot, .checkout tfoot th {
    background: #6d706f;
    color: #fff !important;
}


.dataTable th, .dataTable td, .table-paging th, .table-paging td, .checkout th, .checkout td {
    font-size: 16px !important;
}


.card {
    border-top: 7px solid #dd4b39;
    /* border-radius: 30px; */
    /* border: 1px solid #222; */
    /* overflow: hidden; */
    box-shadow: 1px 1px 3px #44444475;
    border-bottom: 7px solid #dd4b39;
}

.card .card-title {
    margin-bottom: 10px;
}

.card .card-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #cac6c6 !important;
    background: #efeeee;
}

.card-footer {
    padding-top: 15px !important;
    border-top: 1px solid #cac6c6 !important;
    background: #efeeee !important;
}

.card label {
    font-size: 18px !important;
}


.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #dd4b39 !important;
    border-color: #dd4b39 !important;
}


.guillotine-canvas{
    width: 100% !important;
    height: 100% !important;
}

.guillotine-canvas > img{
    margin: auto;
    display:block;
    max-width: 100%;
}

.modal-dialog {
    height: 0px;
}

.modal-header {
    background: #d2d6de;
}

.modal .modal-content .modal-body{
    padding-top:0 !important;
    padding-bottom:0 !important;
}


.checkout {
    text-align: center;
}

.checkout td, .checkout th {
    vertical-align: middle;
}

.checkout th {
    background: #a22d1c;
    color: #fff;
}

.checkout img {
    width: 100px;
    height: 80px;
    display: block;
    object-fit: cover;
}

.checkout td a{
    margin-top: 20px;
}


.buy:before {
    display: none;
}


.buy form .form-control {
    color: #888;
}

.buy form label {
    color: #888;
    display: block;
}

.buy-title {
    position: absolute;
    top: -50px;
    background: #a22d1c;
    height: 50px;
    text-align: center;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 37px;
    padding: 0 20px;
}

.buy input[type="radio"] {
    margin-right: 5px;
}


.radio-row {
    display: flex;
}

.radio-row .radio {
    margin-right: 30px;
    margin-top: inherit !important;
}

.card .table tbody td:last-child, .card .table thead th:last-child {
    display: table-cell !important;
}


/*.fa-spin-hover:hover {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}*/

center .fa:after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 1s;
}


center .fa {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.px-paginate-container .px-btn.selected {
    background: #a22d1c !important;
    color: #fff !important;
    height: 40px !important;
    width: 40px !important;
}

.px-paginate-container .px-btn, .px-paginate-container .px-points {
    color: #a22d1c !important;
    height: 40px !important;
    width: 40px !important;
}

.px-paginate-container .px-btn, .px-paginate-container .px-points{
    padding: 9px 0 !important;
}

.m-b-10{
    margin-bottom:10px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.w-50{
    width:50px !important;
}

