
.lodding-page {
    text-align: center;
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Fallback color */
    z-index: 30000;
}

    .lodding-page i {
        margin-top: 250px;
        font-size: 100px;
        color: red;
    }

    .lodding-page img {
        margin: auto;
        text-align: center;
        display: inline-block;
        position: absolute;
        left: 40%;
        top: 35%;
        width: 20%;
        object-fit: contain;
    }


.yearpicker-prev, .yearpicker-next {
    font-size: 2.5rem !important;
}

.yearpicker-items, .yearpicker-current {
    font-size: 15px !important;
}

.yearpicker-items, .yearpicker-current {
    color: #333 !important;
}

.yearpicker-items.selected, .yearpicker-items:hover {
    color: red !important;
}


.select-mania-item.select-mania-selected {
    background: #ff2a39 !important;
}

.select-mania-item.select-mania-hover {
    background: #ff2a3938 !important;
    color: #333;
}


.img-car2 {
    height: 179px;
    width: 255px;
    object-fit: cover;
}

.text_body p {
    margin-bottom: 0 !important;
}


.l_collection_item img {
    height: 185px;
    width: 100%;
    object-fit: cover;
}


.title {
    background-image: url(../website/layout/img/breadcrumb-bg-4.jpg) !important;

}

.navbar-brand img {
    width: 240px;
    height: 113px;
    object-fit: contain;
}


.fixed .navbar-brand img {
    height: 70px !important;
}

.active a {
    color: #a22d1c !important;
}

.btn-dark {
    color: #fff !important;
}

.disabled {
    background: #dddddd !important;
    pointer-events: none !important;
}

/*.buy input {
    color: #8888885c !important;
}*/
